/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* TailwindCSS */
@tailwind base;

/* ::-webkit-scrollbar {
  width: 7px;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin: 2px 0;
  box-shadow: inset 1px 0 1px grey;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #475569;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

@tailwind components;
@tailwind utilities;
