.custom-carousel-item {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: auto !important;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}
